section.catalog
    .catalog-triangle.d-sm-none.d-none.d-xl-block 
    .container 
        .row 
            .col-12
                h2 Каталог увлажнителей
                +type
                .tab-content(id="pills-tabContent")
                    .tab-pane.fade.show.active(id="pills-IU" role="tabpanel")
                        +subtype
                        .tab-content(id="v-pills-tabContent")
                            .tab-pane.fade.show.active(id="v-pills-UE" role="tabpanel")
                                .row.d-flex.justify-content-end.adaptive-catalog 
                                    .col-5
                                        p.catalog-text Увлажнители с погружными электродами UE* humiSteam
                                        p.catalog-text-subtext humiSteam
                                        p.catalog-text-sign Увлажнители с погружными электродами
                                    .col-3 
                                        p.d-flex.justify-content-end.catalog-text-logo UE
                                .row.d-flex.justify-content-end.adaptive-catalog 
                                    .col-8
                                        p.catalog-text-definition.
                                            humiSteam - это универсальные увлажнители, пригодные для решения широкого круга задач по<br>
                                            увлажнению воздуха от обычных жилых домов до производственных помещений и даже саун.<br>
                                            Общая производительность серии от 1,5 до 130 кг/ч.
                                        p.catalog-text-model Выберите модель:
                                        +model 
                                        .tab-content(id="pills-tabContent")
                                            .tab-pane.fade.show.active(id="pills-UEB" role="tabpanel")
                                                .row.mt-4  
                                                    .col-12
                                                        p.catalog-text-model-text.
                                                            «Basic» (UE*Y) Самый простой вариант для решения любых задач по увлажнению воздуха паром.<br>
                                                            Представлен моделями производительностью от 1 до 65 кг/ч, комплектуется стандартным<br>
                                                            электронным контроллером (Y) и дисплеем.
                                                        .row.row-cols-1.row-cols-md-3.g-4
                                                            +catalog_item
                                            .tab-pane.fade(id="pills-UEX" role="tabpanel")
                                                .row.d-flex.justify-content-start
                                                    .col-8
                                                         img(src="/src/image/oxxx.jpg" alt="oxxx")
                                            .tab-pane.fade(id="pills-UEW" role="tabpanel")
                                                .row.d-flex.justify-content-start
                                                    .col-8
                                                        img(src="/src/image/jiga.jpg" alt="jiga")
                            .tab-pane.fade(id="v-pills-UER" role="tabpanel")
                                .row.d-flex.justify-content-end
                                    .col-8
                                        img(src="/src/image/papa_1.jpg" alt="papa")
                            .tab-pane.fade(id="v-pills-CH" role="tabpanel")
                                .row.d-flex.justify-content-end
                                    .col-8
                                        img(src="/src/image/exaa.jpg" alt="exaa")
                            .tab-pane.fade(id="v-pills-UR" role="tabpanel")
                                .row.d-flex.justify-content-end
                                    .col-8
                                        img(src="/src/image/chuva.jpg" alt="chuva" width="1000"  height="800")
                            .tab-pane.fade(id="v-pills-UG" role="tabpanel")
                                .row.d-flex.justify-content-end
                                    .col-8
                                        img(src="/src/image/sergo.jpg" alt="sergo" width="1000"  height="800")
                    .tab-pane.fade(id="pills-AU" role="tabpanel")
                        .row.d-flex.justify-content-end
                            .col-8
                                img(src="/src/image/dildo.jpg")
                    .tab-pane.fade(id="pills-IO" role="tabpanel")
                        .row.d-flex.justify-content-end
                                .col-8
                                    img(src="/src/image/ice.jpg")
                