footer.footer
    img.footer-img.d-md-block.d-none(src="/src/image/call.png")
    .footer-stripe
    .container        
        .row.mb-sm-4.ms-sm-0.ms-5.adaptive-footer
            .col-6.adaptive-footer-size
                p.footer-text Если у вас остались вопросы, мы с удовольствием на них ответим 
                input.service_form-input-name(type="text" placeholder="Ваше имя")
                input.service_form-input-phone(type="text" placeholder="Ваш телефон")
                button.carel-button.service_form-button
                    span.carel-button-text.d-flex.justify-content-center.service_form-button-text Отправить заявку
                p.service_form-input-sing Ваши контактные данные в безопасности и не будут переданы 3-им лицам 
                .footer-info
                    .d-flex.footer-company-indent   
                        p.footer-company Разработано
                        img.footer-logo(src="/src/image/logo.png")
                    p.footer-company © 2019 CAREL. Все права защищены
                    p.footer-company Политика конфиденциальности