header.header
    .header-corner.d-sm-block.d-none 
    .container
        .row.d-flex.justify-content-between.header-top
            img.col-sm-4.col-4.d-flex.justify-content-start.header-top-logo(src="../src/svg/logo.svg" alt="logo")
            .col-sm-3.col-4.d-flex.justify-content-center.flex-column.header-adaptive
                a.header-nom(href="tel:+7 (965) 390-46-99") +7 (965) 390-46-99
                a.header-line(href="#phone") Обратный звонок
        .row.header-wrapper.d-flex.justify-content-end
            img.header-wrapper-backdrop(src="../src/image/sample.png" alt="sample")
            .col-sm-5.col-4.header-wrapper-text
                h1 Увлажнители CAREL
                    .d-flex.justify-content-around.flex-column.align-items-end.header-wrapper-adaptive
                        ul.header-wrapper-text-list.d-flex.flex-column
                            li.header-wrapper-text-list-link Сервисное обслуживание
                               .header-wrapper-text-list-link-points 
                            li.header-wrapper-text-list-link Монтаж
                                .header-wrapper-text-list-link-points 
                            li.header-wrapper-text-list-link Оригинальные запасные части   
                                .header-wrapper-text-list-link-points 
                button.carel-button.header-button
                    span.carel-button-text.d-flex.justify-content-center.header-button-text Выбрать товар
    img.header-rect.d-sm-block.d-none(src="../src/image/backdrop.png", alt="backdrop")
    .header-size-stripe
