section.reviews
    .reviews-stripe
    .container
        .row.d-sm-block.d-flex.justify-content-center
            .col-8.d-sm-block.d-flex.align-items-center.flex-column
                h4 Отзывы наших клиентов
                p.text-center.text-sm-start.
                    Ежегодно мы оказываем сервисные услуги более 100 организациям на территории РФ.
                    Имея значительный опыт и знание особенностей оборудования, сертифицированные
                    специалисты, выполняют полный комплекс услуг по контролю и сервисному
                    обслуживанию систем увлажнения воздуха на объектах различного уровня сложности.
        .row.reviews-top.mt-6
            .col-12
                .owl-carousel.owl-theme.reviews-carousel
                    +carousel