section.service
    .service-corner.d-sm-block.d-none
    .service-stripe
    .container.service-wrapper
        .row.d-flex.justify-content-sm-start.justify-content-center
            .col-8.d-flex.justify-content-sm-start.flex-column.align-items-center.align-items-sm-start
                h2 Сервисный центр
                p.service-wrapper-pack-text.
                    Увлажнители воздуха Carel — это синоним качественной и надежной
                    техники, способной прослужить на объектах различного назначения
                    долгие годы.
        .row.d-flex.justify-content-center.service-wrapper-pack
            .col-8.d-flex.flex-column.align-items-center
                h2 3 важных составляющих
                p.service-wrapper-pack-text длительной эксплуатации высокотехнологичного оборудования и сохранения его первоначальных свойств:
        .row.service-wrapper-part
            .col-4.d-flex.justify-content-center.service-adaptive-desc
                p.d-sm-flex.align-items-sm-start.d-block.service-wrapper-part-desc Качественная<br>техника
                    p.service-wrapper-part-desc-nom_1 1
            .col-4.d-flex.justify-content-center.service-adaptive-desc
                p.d-sm-flex.align-items-sm-center.d-block.service-wrapper-part-desc Постоянный надзор специалистов сервисной службы
                    p.service-wrapper-part-desc-nom_2 2
            .col-4.d-flex.justify-content-center.service-adaptive-desc
                p.d-sm-flex.align-items-sm-end.d-block.service-wrapper-part-desc Регулярное проведение профилактических работ
                    p.service-wrapper-part-desc-nom_3 3
        

