section.spare_parts
    img.spare_parts-triangle.d-sm-block.d-none(src="../src/svg/spare_parts_triangle.svg" alt="triangle")
    img.spare_parts-rect.d-lg-block.d-none(src="/src/svg/nav_rectangle.svg" alt="rect")
    .spare_parts-stripe
    .container
        .row.d-flex.justify-content-center
            .col-8
                h2.text-center.text-sm-start Так же у нас вы можете приобрести оригинальные запасные части для увлажнителей CAREL
        .row.d-flex.justify-content-center.spare_parts-wrapper
            .col-11.ms-5
                .d-flex.justify-content-sm-between.justify-content-around.spare_parts-wrapper-stripe
                    p.spare_parts-wrapper-stripe-text Низкие цены
                        img.spare_parts-wrapper-stripe-text-icon_1(src="../src/image/tag.png" alt="tag") 
                    p.spare_parts-wrapper-stripe-text Всегда есть<br>в наличии
                        img.spare_parts-wrapper-stripe-text-icon_2(src="../src/image/hands.png" alt="hands")
                    p.spare_parts-wrapper-stripe-text Быстрая доставка
                        img.spare_parts-wrapper-stripe-text-icon_3(src="../src/image/truck.png" alt="truck")
        